/* Issues in IE from 5 to 6 only not to be used with IE7 */

#thePage {height: 100%;}
#rss			{ top: 10px;}
#menubar dl		{ overflow: hidden;}
#content		{ overflow: hidden;}

.categoryActions { width: 220px;}
.thumbnailCategory	{ position: relative;}
.thumbnailCategories .illustration { margin: 10px 5px}
.thumbnailCategories .description { width: 180px; padding: 0;}
#content div.footer			{ height: 9px; overflow: hidden; }

.thumbnails		{ margin: 0;}
.thumbnails li	{ overflow: hidden;}

#mbIdentification .actions { line-height:1.2em;}
#linkThumbs						{ position: absolute; top: 0; left: 400px; width: 224px; height: 600px; background-image: url(transparent.gif); }